.header-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
/*
header {
    border-bottom: 5px solid #FFA500;
}
*/
.nav {
    background: #16264c;
    border-bottom: 5px solid #FFA500;
}

.highlight-word {
    color: #FFA500;
}

.menu {
    display: flex;
    padding: 10px 0px 10px 10px;
}

.menu .li-style {
    list-style: none;
    padding: 10px;
}

.menu .li-style a {
    text-decoration: none;
    color: #fff;
}

.primary-heading {
    color: #fff;
    padding: 15px 15px 15px 0;
}

#current-page {
    color: #FFA500;
}

.showcase {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    background: url("../img/unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.secondary-heading {
    color: #fff;
    font-size: 32px;

}

.description {
    color: #fff;
    text-align: center;
    font-size: 25px;
    margin-left: 200px;
    margin-right: 200px;
}

.subscribe {
    background: #16264c;
    margin-bottom: 30px;
}

.subscribe-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe-text {
    color: #fff;
}

.subscribe-btn {
    height: 50%;
    background: #ff4500;
    color: #fff;
}

.technology-desc {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.technology-img {
    width: 100px;
    height: 100px;
}

.img-container {
    text-align: center;
}

.technology-container {
    width: 33%;
}

.technology-title {
    text-align: center;
}

.technology-para {
    text-align: center;
}

.page-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFA500;
    color: #fff;
    min-height: 100px;
}

.about-showcase {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.about-container {
    width: 60%;
}

.about-container .about-showcase-text {
    margin-top: 0;
}

.about-content {
    text-align: center;
    padding: 10px;
    margin-left: 10px;
    width: 35%;
    color: #fff;
    background: #16264c;
}

.about-explain {
    text-align: center;
    padding: 10px;
    width: 58%;
    color: #fff;
    background: #16264c;
    margin-bottom: 25px;
}

.about-wrapper {
    background: ghostwhite;
    min-height: 375px;
}

.service-wrapper {
    background: ghostwhite;
}

.service-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.service-details {
    background: beige;
    border: 1px solid black;
    margin-bottom: 5px;
}

.service-content {
    width: 60%;
}

.service-text {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}

.service-title {
    margin-left: 10px;
}

.service-desc {
    margin-left: 10px;
}

.service-form {
    background: #16264c;
    margin-top: -20px;
    max-height: 250px;
    width: 25%;
}

.form-text {
    color: #fff;
    text-align: center;
}

.label-style {
    color: #fff;
}

.form-container {
    text-align: center;
}

@media screen and (min-width: 501px) and (max-width: 991px) {
    .showcase {
        background: url(../img/unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        background-position: center;
    }

    .secondary-heading {
        text-align: center;
        font-size: 28px;
        margin-left: 150px;
        margin-right: 150px;
    }

    .description {
        color: #fff;
        text-align: center;
        font-size: 20px;
        margin-left: 150px;
        margin-right: 150px;
    }

    .subscribe-container {
        width: 90%;
        margin: auto;
        display: initial;
        text-align: center;
    }

    .subscribe-input {
        margin-bottom: 10px;
        width: 25%;
        height: 50%;
        margin-left: 0px
    }

    .subscribe-text {
        color: #fff;
        margin-top: 0;
        padding-top: 10px;
    }

    .content {
        text-align: center;
    }

    .technology-container {
        width: 33%;
    }

    .technology-para {
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
    }

    .about-container {
        width: 100%;
    }

    .about-content {
        margin-left: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .about-explain {
        width: 100%;
    }

    .service-container {
        flex-wrap: wrap;
    }

    .service-content {
        width: 100%;
    }

    .service-form {
        width: 100%;
        margin: auto;
    }

    .form-container {
        margin-bottom: 10px;
    }

    .page-footer {
        margin-top: 10px;
        min-height: 40px;
    }

}

@media screen and (max-width: 500px) {

    .header-container {
        display: initial;
        justify-content: none;
        width: 90%;
        margin: auto;
    }

    .primary-heading {
        text-align: center;
        margin-bottom: 0;
        color: #fff;
        padding: 15px 0px 15px 0;
    }

    .menu {
        display: flex;
        justify-content: center;
        padding: 0px 0px 10px 10px;
    }

    .header-container {
        display: flex;
        flex-direction: column;
    }

    .primary-heading {
        color: #fff;
        text-align: center;
        padding: 15px 15px 15px 0;
    }

    .menu {
        display: flex;
        align-items: ;
        justify-content: center;
        padding: 0;
        margin-top: 0;
    }

    .secondary-heading {
        font-size: 20px;
        margin-top: 50px;
    }

    .description {
        font-size: 18px;
        margin-left: 100px;
        margin-right: 100px;
    }

    .subscribe-container {
        flex-direction: column;
    }

    .technology-container {
        width: 100%;
    }

    .technology-para {
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
    }

    .subscribe-input {
        margin-bottom: 10px;
    }

    .about-container {
        width: 100%;
    }

    .about-content {
        margin-left: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .about-explain {
        width: 100%;
    }

    .service-container {
        flex-wrap: wrap;
    }

    .service-content {
        width: 100%;
    }

    .service-form {
        width: 100%;
        margin: auto;
    }

    .form-container {
        margin-bottom: 10px;
    }

    .page-footer {
        margin-top: 10px;
        min-height: 40px;
    }

}